body * {
  background-color: rgb(94, 15, 15);
  border: 1px solid black;
}

#container {
  background-color: white;
  max-width: 100%;
  min-width: 820px;
  overflow: auto;
}

header {
  float: right;
  width: 100%;
  min-height: 100px;
}

.nav {
  float: left;
  height: 724px;
  width: 23%;
}

#navSection {
  clear: right;
  overflow: hidden;
  height: 200px;
  background-color: black;
}

.subNav {
  float: left;
  height: 200px;
  width: 49%;
}

.about {
  float: right;
  height: 200px;
  width: 49%;
}

#content {
  clear: right;
  overflow: hidden;
  height: 400px;
  background-color: black;
}

.info {
  float: left;
  height: 400px;
  width: 24.5%;
}

footer {
  clear: right;
  /* clear: both; */
  height: 120px;
  width: 100%;
}